<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700" rel="stylesheet" media="all">
        <link rel="stylesheet" href="views/css/buttons/social-icons.css">
        <link rel="stylesheet" href="views/css/buttons/animation.css"><!--[if IE 7]>
        <link rel="stylesheet" href="css/buttons/social-icons-ie7.css"><![endif]-->
        <link rel="shortcut icon" href="favicon.ico">
        <!-- Bootstrap -->
        <link href="views/css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="views/css/style.css" rel="stylesheet">
        <link href="views/css/media.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <![endif]-->
        <!--[if (gte IE 6)&(lte IE 8)]>
            <script type="text/javascript" src="js/selectivizr-min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="navbar-static-top navbar">
            <div class="container-box top-box">
                <a href="/" class="brand"><img src="views/img/logo.png" alt="GoWash"></a>
                <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<div class="icon-container">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</div>
					<div class="title-menu">Menu</div>
				</a>
				<div class="nav-collapse navbar-responsive-collapse collapse">
					<ul class="nav top-main-navigation">
						<li>
							<a href="/">Home</a>
						</li>
						<li class="active"><a href="about-us">About us</a></li>
						<li>
							<a href="services" >Services</a>
						</li>
						<li>
							<a href="faq">FAQ</a>
						</li>
						<li>
							<a href="contact-us">Contact Us</a>
						</li>
						<li>
							<a href="login">Login/Register</a>
						</li>
					</ul>
				</div>
                <ul class="nav pull-right nav-top-right">
                </ul>
            </div>
        </div>
        <div class="site-container">
            <div class="header-eight-box">
                <ul id="header-eight">
                    <li>
                        <img src="http://placehold.it/1114x290" alt="Examples of standart pages">
                        <div class="slider-border"></div>
                        <div class="title">
                            <h3>examples of standard pages</h3>
                            <div class="clearfix"></div>
                            <h6>Responsive Multi-Purpose Theme</h6>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="site-container">
            <ul class="breadcrumb container-box">
                <li><a href="#">Home</a></li>
                <li class="active">About Us</li>
            </ul>
        </div>
        <div class="site-container">
            <div class="container entry-content about-us-page">
                <div class="row">
                    <div class="span12">
                        <h3 class="page-title">About Us</h3>
                    </div>
                    <div class="span6">
                        <div class="carousel-grid about-us-page-slider">
                            <ul class="content-list">
                                <li>
                                    <img src="img/about2.png" alt="">
                                </li>
                                <li>
                                    <img src="img/about4.png" alt="">
                                </li>

                              <li>
                                    <img src="img/about.png" alt="">
                                </li>
                            </ul>
                            <div class="carousel-prev">&lt;</div>
                            <div class="carousel-next">&gt;</div>
                        </div>
                    </div>
                    <div class="span6">
                        <p align="justify">Go Wash promises to provide the best service for your car. You can get your car cleaned
inside/outside in easy steps. We have different packages available based on your requirements
at the best market price. You can also customize the services based on your requirements.
Customer can also customize the products they would like to use. We provide services in
major areas around New York City. Just login to our website, enter your location, book the
timing and get a service by our expert.
<p>Service Hours: 7 A.M. to 7 P.M.</p>
<div align="justify">Service Provided:
  Interior Cleaning
  Detailed and deep cleaning of interior of the car with the best products giving you a fresh
  feeling inside the car
  Exterior Cleaning
  Your car shining like never before. Deep washing and polishing of your car done by our
  experts.
  Full Service
  Get a combined service at the discounted price.
  </p>

</div>
                  </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <h3 class="page-title">Service Provided</h3>
                        <div class="accordion" id="accordion2">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Interior Cleaning</a>
                                </div>
                                <div id="collapseOne" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <p>
                                            Detailed and deep cleaning of interior of the car with the best products giving you a fresh
feeling inside the car
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Exterior Cleaning</a>
                                </div>
                                <div id="collapseTwo" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <p>
                                            Your car shining like never before. Deep washing and polishing of your car done by our
experts.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThird">Full Service</a>
                                </div>
                                <div id="collapseThird" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <p>
                                            Get a combined service at the discounted price.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span12 team-list">
                        <h3 class="page-title">Meet Our Team</h3>
                        <div class="row">
                            <div class="span3 item">
                                <div class="static">
                                    <img src="http://placehold.it/228x190" alt="Mett Rayan photo">
                                    <div class="description">
                                        <span class="name">Keya Patel</span>
                                        <span class="role">Employee</span>
                                    </div>
                                </div>
                                <div class="static-hover">
                                    <div class="description">
                                        <span class="name">Keya Patel</span>
                                        <span class="role">Employee</span>
                                        <p>
                                            Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                                      </p>
                                        <span class="contact"><b>Email: </b>kppatel137@nyit.edu</span>
                                        <span class="contact"><b>Phone: </b>11 555 333 77</span>
                                        <span class="button">
                                            <a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-facebook" href="#">facebook</a>
                                            <a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-twitter" href="#">twitter</a>
                                            <a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-gplus" href="#">gplus</a>
                                            <a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-linkedin" href="#">linkedin</a>
                                        </span>
                                  </div>
                                </div>
                            </div>
                            <div class="span3 item">
                                <div class="static">
                                    <img src="http://placehold.it/228x190" alt="Jon O. Example photo">
                                    <div class="description">
                                        <span class="name">Kruti Naik</span>
                                        <span class="role">Employee</span>
                                    </div>
                                </div>
                                <div class="static-hover">
                                    <div class="description">
                                        <span class="name">Kruti Naik</span>
                                        <span class="role">Employee</span>
                                        <p>
                                            Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                                        </p>
                                        <span class="contact"><b>Email: </b>knaik@nyit.edu</span>
                                        <span class="contact"><b>Phone: </b>11 555 333 77</span>
                                        <span class="button">
                                            <a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-facebook" href="#">facebook</a>
                                            <a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-twitter" href="#">twitter</a>
                                            <a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-gplus" href="#">gplus</a>
                                            <a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-linkedin" href="#">linkedin</a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="span3 item">
                                <div class="static">
                                    <img src="http://placehold.it/228x190" alt="Turanga Leela photo">
                                    <div class="description">
                                        <span class="name">Charmi Shah</span>
                                        <span class="role">Employee</span>
                                    </div>
                                </div>
                                <div class="static-hover">
                                    <div class="description">
                                        <span class="name">Charmi Shah</span>
                                        <span class="role">Employee</span>
                                        <p>
                                            Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                                        </p>
                                        <span class="contact"><b>Email: </b>cshah24@nyit.edu</span>
                                        <span class="contact"><b>Phone: </b>11 555 333 77</span>
                                        <span class="button">
                                            <a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-facebook" href="#">facebook</a>
                                            <a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-twitter" href="#">twitter</a>
                                            <a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-gplus" href="#">gplus</a>
                                            <a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-linkedin" href="#">linkedin</a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="span3 item">
                                <div class="static">
                                    <img src="http://placehold.it/228x190" alt="David X. Cohen photo">
                                    <div class="description">
                                        <span class="name">Okey Onyia</span>
                                        <span class="role">Employee</span>
                                    </div>
                                </div>
                                <div class="static-hover">
                                    <div class="description">
                                        <span class="name">Okey Onyia</span>
                                        <span class="role">Employee</span>
                                        <p>
                                            Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                                        </p>
                                        <span class="contact"><b>Email: </b>oonyia@nyit.edu</span>
                                        <span class="contact"><b>Phone: </b>11 555 333 77</span>
                                        <span class="button">
                                            <a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-facebook" href="#">facebook</a>
                                            <a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-twitter" href="#">twitter</a>
                                            <a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-gplus" href="#">gplus</a>
                                            <a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-linkedin" href="#">linkedin</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

		<div class="row price-package-row">
                	<div class="span12">
                        <h3 class="page-title">Reviews</h3>
                    </div>
                    <div class="span3 price-package">
                        <div class="title"><a href="#">John</a></div>
                        <div class="block-price">
                            <span class="starting">Best car service in New York City</span><br>
                        </div>
                    </div>
                    <div class="span3 price-package">
                        <div class="title"><a href="#">Amy</a></div>
                        <div class="block-price">
                            <span class="starting">Good</span><br>
                        </div>
                    </div>
                    <div class="span3 price-package">
                        <div class="title"><a href="#">Rudolf</a></div>
                        <div class="block-price">
                            <span class="starting">Best service at cheapest price</span><br>
                        </div>
                    </div>
                    <div class="span3 price-package">
                        <div class="title"><a href="#">Prita</a></div>
                        <div class="block-price">
                            <span class="starting">Love their service</span><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-container">
			<div class="container newsletter-bottom-block">
				<div class="row">
					<div class="span12">
						<div class="image pull-left"></div>
						<div class="title pull-left">
							<h4>INVITE FRIEND</h4>
							<p>Invite your friend and get 10% OFF on your next service</p>
						</div>
						<div class="form pull-left">
							<form action="#">
								<input type="text" name="" placeholder="Enter your email adress...">
								<input type="submit" value="INVITE" class="btn btn-primary">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="site-container">
			<div  class="container">
				<div class="row">
					<div class="span12">
						<div class="row">
							<div class="span9">
								<div class="row">
									<div class="span2">
										<h4>Information</h4>
										<ul>
											<li><a href="about-us.html">About Us</a></li>
											<li><a href="privacy-policy.html">Privacy Policy</a></li>
											<li><a href="t-c.html">Terms & Conditions</a></li>
										</ul>
									</div>
									<div class="span2">
										<h4>Costumer Service</h4>
										<ul>
											<li><a href="contact-us.html">Contact Us</a></li>
											<li><a href="faq.html">FAQ</a></li>
										</ul>
									</div>
									<div class="span4 visible-tablet"></div>
									<div class="span2">
										<h4>Extras</h4>
										<ul>
											<li><a href="#">Gift Vouchers</a></li>
											<li><a href="#">Specials</a></li>
										</ul>
									</div>
									<div class="span2">
										<h4>My Account</h4>
										<ul>
											<li><a href="#">My Account</a></li>
											<li><a href="#">Order History</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="span3 block-right">
								<h4>Follow us on social networks</h4>
								<span class="button">
									<a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-facebook" href="#">facebook</a>
									<a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-twitter" href="#">twitter</a>
									<a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-gplus" href="#">gplus</a>
									<a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-linkedin" href="#">linkedin</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="container footer-second">
			<div class="row">
				<div class="span3">Copyright © gowash.com, 2018</div>
				<address class="span3 img adress">1855 Broadway, <br>New York, United States</address>
				<div class="span3 img phone"><span>Call Us:</span> +1 (098) 765-45-32<br> <span></span></div>
				<div class="span3 payments">
					<img src="img/visa.png" alt="Visa logo">
					<img src="img/paypal.png" alt="PayPal logo">
					<img src="img/mastercard.png" alt="MasterCard logo">
					<img src="img/westernunion.png" alt="WesternUnion logo">
				</div>
			</div>
		</div>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/jquery.formstyler.js"></script>
        <script src="js/jquery.carouFredSel-6.2.0-packed.js"></script>
        <script src="js/jquery.touchSwipe.min.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>
