<html>
<head>
<title>GoWash - </title>
<link rel="stylesheet" type="text/css" href="/static/css/pure.css" />
<link rel="stylesheet" type="text/css" href="/static/css/gowash.css" />
<link  href="https://fonts.googleapis.com/css?family=Lobster:regular" rel="stylesheet" type="text/css" >

</head>
<body>

<div id="sitelogo">gowash Logo</div>

<div id="navigationBar">
<ul>
	<li><a href="/home">Home</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/contactus">Contact Us</a></li>
	<li ><a href="/login">Sign in</a></li>

</ul>
</li>


	<div class="container">
    <legend ></legend>
    <h1>GoWash - Sign Up</h1>
  	<h1>GoWash homepage</h1>
	</div>
