<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700" rel="stylesheet" media="all">
        <link rel="stylesheet" href="css/buttons/social-icons.css">
        <link rel="stylesheet" href="css/buttons/animation.css"><!--[if IE 7]>
        <link rel="stylesheet" href="css/buttons/social-icons-ie7.css"><![endif]-->
        <link rel="shortcut icon" href="favicon.ico">
        <!-- Bootstrap -->
        <link href="css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/media.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <![endif]-->
        <!--[if (gte IE 6)&(lte IE 8)]>
            <script type="text/javascript" src="js/selectivizr-min.js"></script>
        <![endif]-->

<style>
 #map {
   width: 100%;
   height: 200px;
   background-color: grey;
 }
</style>
    </head>
    <body>
        <div class="navbar-static-top navbar">
            <div class="container-box top-box">
                <a href="/" class="brand"><img src="img/logo.png" alt="GoWash"></a>
                <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<div class="icon-container">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</div>
					<div class="title-menu">Menu</div>
				</a>
				<div class="nav-collapse navbar-responsive-collapse collapse">
					<ul class="nav top-main-navigation">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li><a href="about-us.html">About us</a></li>
						<li>
							<a href="services.html" >Services</a>

						</li>
						<li>
							<a href="faq.html">FAQ</a>
						</li>
						<li class="active">
							<a href="contact-us.html">Contact Us</a>
						</li>
						<li>
							<a href="login.html">Login/Register</a>
						</li>
					</ul>
				</div>
                <ul class="nav pull-right nav-top-right">

                </ul>
            </div>
        </div>
        <div class="site-container">
            <div class="header-eight-box">
                <ul id="header-eight">
                    <li>
                        <img src="http://placehold.it/1114x290" alt="Examples of standart pages">
                        <div class="slider-border"></div>
                        <div class="title">
                            <h3>examples of standard pages</h3>
                            <div class="clearfix"></div>
                            <h6>Responsive Multi-Purpose Theme</h6>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="site-container">
            <ul class="breadcrumb container-box">
                <li><a href="#">Home</a></li>
                <li class="active">Contact Us</li>
            </ul>
        </div>
        <div class="site-container">
            <div class="container entry-content">
                <div class="row">
                    <div class="span12">
                        <h1 class="page-title">Contact Us</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="span6 contact">
                        <h3>Address</h3>
                        <address>1855 Broadway, New York, NY 10023
                           United States</address>
                        <hr>
                        <h3>Phones</h3>
                        <span><b>Support:</b> +38 (097) 989-55-55</span><br>
                        <span><b>Sales manager:</b> +38 (099) 123-55-55</span><br>
                        <hr>
                        <h3>Email Addresses</h3>
                        <span><b>Support:</b> <a href="mailto:support@example.com">support@gowash.com</a></span><br>
                        <span><b>Sales manager:</b> <a href="mailto:manager@example.com">manager@gowash.com</a></span><br>
                        <span><b>Director:</b> <a href="mailto:chief@example.com">chief@gowash.com</a></span>
                    </div>
                    <div class="span6 contact-form">
                        <h2>Quick Contact</h2>
                        <form action="#">
                            <label>name: <span class="required">*</span></label>
                            <input type="text">
                            <label>Email Address: <span class="required">*</span></label>
                            <input type="email">
                            <label>Telephone</label>
                            <input type="text">
                            <label>Comment</label>
                            <textarea></textarea>
                            <input class="btn btn-primary" type="submit" value="Submit">
                            <div class="required-field pull-right">* Required Field</div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="span12 map" id="map">
                       

                    </div>
                </div>
            </div>
        </div>
        <div class="site-container">
			<div class="container newsletter-bottom-block">
				<div class="row">
					<div class="span12">
						<div class="image pull-left"></div>
						<div class="title pull-left">
							<h4>INVITE FRIEND</h4>
							<p>Invite your friend and get 10% OFF on your next service</p>
						</div>
						<div class="form pull-left">
							<form action="#">
								<input type="text" name="" placeholder="Enter your email adress...">
								<input type="submit" value="INVITE" class="btn btn-primary">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="site-container">
			<div  class="container">
				<div class="row">
					<div class="span12">
						<div class="row">
							<div class="span9">
								<div class="row">
									<div class="span2">
										<h4>Information</h4>
										<ul>
											<li><a href="about-us.html">About Us</a></li>
											<li><a href="privacy-policy.html">Privacy Policy</a></li>
											<li><a href="t-c.html">Terms & Conditions</a></li>
										</ul>
									</div>
									<div class="span2">
										<h4>Costumer Service</h4>
										<ul>
											<li><a href="contact-us.html">Contact Us</a></li>
											<li><a href="faq.html">FAQ</a></li>
										</ul>
									</div>
									<div class="span4 visible-tablet"></div>
									<div class="span2">
										<h4>Extras</h4>
										<ul>
											<li><a href="#">Gift Vouchers</a></li>
											<li><a href="#">Specials</a></li>
										</ul>
									</div>
									<div class="span2">
										<h4>My Account</h4>
										<ul>
											<li><a href="#">My Account</a></li>
											<li><a href="#">Order History</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="span3 block-right">
								<h4>Follow us on social networks</h4>
								<span class="button">
									<a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-facebook" href="#">facebook</a>
									<a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-twitter" href="#">twitter</a>
									<a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-gplus" href="#">gplus</a>
									<a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-linkedin" href="#">linkedin</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="container footer-second">
			<div class="row">
				<div class="span3">Copyright © gowash.com, 2018</div>
				<address class="span3 img adress">1855 Broadway, <br>New York, United States</address>
				<div class="span3 img phone"><span>Call Us:</span> +1 (098) 765-45-32<br> <span></span></div>
				<div class="span3 payments">
					<img src="img/visa.png" alt="Visa logo">
					<img src="img/paypal.png" alt="PayPal logo">
					<img src="img/mastercard.png" alt="MasterCard logo">
					<img src="img/westernunion.png" alt="WesternUnion logo">
				</div>
			</div>
		</div>
<script>
      function initMap() {
        var uluru = {lat: 40.769728, lng: -73.982498};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_oBbe62L_wv4krlAh3XA5wKJA_7Ls3ak&callback=initMap">
    </script>


        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/jquery.formstyler.js"></script>
        <script src="js/jquery.carouFredSel-6.2.0-packed.js"></script>
        <script src="js/jquery.touchSwipe.min.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>
