<!DOCTYPE html>
<html>
    <head>
        <title>Services</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="shortcut icon" href="favicon.ico">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700" rel="stylesheet" media="all">
        <link rel="stylesheet" href="css/buttons/social-icons.css">
        <link rel="stylesheet" href="css/buttons/animation.css"><!--[if IE 7]>
        <link rel="stylesheet" href="css/buttons/social-icons-ie7.css"><![endif]-->
        <!-- Bootstrap -->
        <link href="css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/media.css" rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
        <!--[if (gte IE 6)&(lte IE 8)]>
            <script type="text/javascript" src="js/selectivizr-min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="navbar-static-top navbar">
            <div class="container-box top-box">
                <a href="/" class="brand"><img src="img/logo.png" alt="Precise logo"></a>
                <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<div class="icon-container">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</div>
					<div class="title-menu">Menu</div>
				</a>
				<div class="nav-collapse navbar-responsive-collapse collapse">
					<ul class="nav top-main-navigation">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li><a href="about-us.html">About us</a></li>
						<li class="active">
							<a href="services.html" >Services</a>

						</li>
						<li>
							<a href="faq.html">FAQ</a>
						</li>
						<li>
							<a href="contact-us.html">Contact Us</a>
						</li>
						<li>
							<a href="login.html">Login/Register</a>
						</li>
					</ul>
				</div>
            </div>
        </div>
        <div class="site-container">
            <div class="header-eight-box">
                <ul id="header-eight">
                    <li>
                        <img src="http://placehold.it/1114x290" alt="Examples of standart pages">
                        <div class="slider-border"></div>
                        <div class="title">
                            <h3>examples of standard pages</h3>
                            <div class="clearfix"></div>
                            <h6>Responsive Multi-Purpose Theme</h6>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="site-container">
            <ul class="breadcrumb container-box">
                <li><a href="index.html">Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
        <div class="site-container">
            <div class="container entry-content price-options">
                <div class="row">
                    <div class="span12">
                        <h1 class="page-title">Services</h1>
                    </div>
                </div>
                <div class="row price-package-row">
                    <div class="span4 price-package">
                        <div class="title"><a href="#">Exterior Cleaning</a></div>
                        <div class="block-price">
                            <span class="starting"></span><br>
                            <span class="price"><span>$199</span>.00</span>
                            <div class="label">label</div>
                        </div>
                        <div class="check">Wash</div>
			<div class="check">Wax</div>
                        <div class="check">Vaccum</div>
                        <div class="check">Polish</div>
                        <div class="check">Window/glass cleaning</div>
                        <div class="check">Tyre Cleaning</div>
                        <div class="check">Minor Scratch Removal</div>
                        <div class="buy"><a href="#" class="btn btn-primary">Buy Now</a></div>
                    </div>
                    <div class="span4 price-package">
                        <div class="title"><a href="#">Interior Cleaning</a></div>
                        <div class="block-price">
                            <span class="starting"></span><br>
                            <span class="price"><span>$299</span>.00</span>
                            <div class="label">label</div>
                        </div>
			<div class="check">Exterior Cleaning</div>
			<div class="check">Dashboard Cealing</div>
                        <div class="check">Seat Cleaing</div>
                        <div class="check">Internal Polish</div>
                        <div class="check">Oil Services</div>
                        <div class="buy"><a href="#" class="btn btn-primary">Buy Now</a></div>
                    </div>
                    <div class="span4 price-package">
                        <div class="title"><a href="#">Full Service</a></div>
                        <div class="block-price">
                            <span class="starting"></span><br>
                            <span class="price"><span>$399</span>.00</span>
                            <div class="label">label</div>
                        </div>
                        <div class="check">Interior Service</div>
                        <div class="check">Exterior Service</div>
                        <div class="check">Oil Service</div>
                        <div class="buy"><a href="#" class="btn btn-primary">Buy Now</a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="span12 pricing-separator">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="site-container">
			<div class="container newsletter-bottom-block">
				<div class="row">
					<div class="span12">
						<div class="image pull-left"></div>
						<div class="title pull-left">
							<h4>INVITE FRIEND</h4>
							<p>Invite your friend and get 10% OFF on your next service</p>
						</div>
						<div class="form pull-left">
							<form action="#">
								<input type="text" name="" placeholder="Enter your email adress...">
								<input type="submit" value="INVITE" class="btn btn-primary">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="site-container">
			<div  class="container">
				<div class="row">
					<div class="span12">
						<div class="row">
							<div class="span9">
								<div class="row">
									<div class="span2">
										<h4>Information</h4>
										<ul>
											<li><a href="about-us.html">About Us</a></li>
											<li><a href="privacy-policy.html">Privacy Policy</a></li>
											<li><a href="t-c.html">Terms & Conditions</a></li>
										</ul>
									</div>
									<div class="span2">
										<h4>Costumer Service</h4>
										<ul>
											<li><a href="contact-us.html">Contact Us</a></li>
											<li><a href="faq.html">FAQ</a></li>
										</ul>
									</div>
									<div class="span4 visible-tablet"></div>
									<div class="span2">
										<h4>Extras</h4>
										<ul>
											<li><a href="#">Gift Vouchers</a></li>
											<li><a href="#">Specials</a></li>
										</ul>
									</div>
									<div class="span2">
										<h4>My Account</h4>
										<ul>
											<li><a href="#">My Account</a></li>
											<li><a href="#">Order History</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="span3 block-right">
								<h4>Follow us on social networks</h4>
								<span class="button">
									<a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-facebook" href="#">facebook</a>
									<a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-twitter" href="#">twitter</a>
									<a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-gplus" href="#">gplus</a>
									<a class="sbtnf sbtnf-circle sbtnf-icon-white sbtnf-icon-bg-black icon-linkedin" href="#">linkedin</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="container footer-second">
			<div class="row">
				<div class="span3">Copyright © gowash.com, 2018</div>
				<address class="span3 img adress">1855 Broadway, <br>New York, United States</address>
				<div class="span3 img phone"><span>Call Us:</span> +1 (098) 765-45-32<br> <span></span></div>
				<div class="span3 payments">
					<img src="img/visa.png" alt="Visa logo">
					<img src="img/paypal.png" alt="PayPal logo">
					<img src="img/mastercard.png" alt="MasterCard logo">
					<img src="img/westernunion.png" alt="WesternUnion logo">
				</div>
			</div>
		</div>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/jquery.formstyler.js"></script>
        <script src="js/jquery.carouFredSel-6.2.0-packed.js"></script>
        <script src="js/jquery.touchSwipe.min.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>
